
{% extends 'base.html' %}

{% block content %}

<h2>Libros disponibles</h2>
<ul>
    
    {% for book in books  %}
        <li>
            <h3><strong>{{book.title}}</strong>  - {{book.author.name}}</h3>
            
            {% if book.cover %}
               <img src="..{{book.cover.url}}" alt="Portada de {{book.title}}" width="150">
            {% else %}
                <p>Sin portada</p> 
            {% endif %}
                
            
        
        </li>

    {% empty %}
        <li>No hay libros disponibles.</li>

    {% endfor %}        
</ul>


{% if is_paginated %}
    <div>
        
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Anterior</a>
        {% endif %}
        <span>Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}</span>
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
        {% endif %}
            
    </div>
{% endif %}
 
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Cerrar sesión</button>
</form>


{% endblock content %}

